In [1]:
import itertools

import pandas as pd
import hetio.readwrite

import hetmech.hetmat

## Export Hetionet permutations

In [2]:
url_template = 'https://github.com/dhimmel/hetionet/raw/76550e6c93fbe92124edc71725e8c7dd4ca8b1f5/hetnet/permuted/json/hetionet-v1.0-perm-{}.json.bz2'
hetmat = hetmech.hetmat.HetMat('')
for i in range(1, 6):
    permutation_id = f'{i:03}'
    print(permutation_id)
    url = url_template.format(i)
    perm_graph = hetio.readwrite.read_graph(url)
    permat = hetmech.hetmat.hetmat_from_permuted_graph(hetmat, permutation_id=permutation_id, permuted_graph=perm_graph)

001
002
003
004
005

## Generate 20 new permutations

In [3]:
hetmat = hetmech.hetmat.HetMat('.')

In [4]:
namer = (f'{x:03}' for x in itertools.count(start=6))

In [5]:
%%time
stats = hetmat.permute_graph(20, namer)

CPU times: user 18h 29min 53s, sys: 25.7 s, total: 18h 30min 19s
Wall time: 18h 30min 29s

In [6]:
stats.head()

,cumulative_attempts,attempts,complete,unchanged,same_edge,self_loop,duplicate,undirected_duplicate,excluded,permutation
0,102240,102241,0.100001,0.508108,0.00002,0.000117,0.549056,0.000430,0.0,006
1,204480,102240,0.200001,0.384165,0.00000,0.000088,0.556182,0.000489,0.0,006
2,306720,102240,0.300001,0.351007,0.00000,0.000108,0.560994,0.000587,0.0,006
3,408960,102240,0.400001,0.341725,0.00002,0.000088,0.557746,0.000734,0.0,006
4,511200,102240,0.500001,0.337979,0.00000,0.000059,0.560475,0.000499,0.0,006

In [7]:
stats.to_csv('permutations/stats.tsv', sep='\t', index=False, float_format='%.5g')